:root {
    --bay-of-many-900: #27357D;
    --bay-of-many-800: rgb(43, 60, 162);
    --bay-of-many-600: #375AD9;
    --bay-of-many-500: #4C77E5;
    --text-black: #474747;
    --text-white-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'inter', sans-serif !important;
    padding: 0;
    margin: 0;
}




header {
    position: relative;
}

header .navbar {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3 ease-in-out;
    transition: padding 0.3s ease, 0.3s ease;
    padding: 30px 0;
}

header .navbar.scrolled {
    background-color: white;
    padding: 20px 0;
    transition: padding 0.3s ease, 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0;
}

header .navbar.scrolled .desktop-nav .nav-item .nav-link,
.navbar.scrolled .navbar-brand span,
.navbar.scrolled .hamburger {
    color: var(--text-black) !important;
    font-weight: bold !important;
}

header .navbar.hidden {
    top: -100px;
}

header .navbar .navbar-brand span {
    font-weight: bold;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-white-color);
}

header .navbar .nav-item {
    padding: 5px 10px;
}

header .navbar .nav-item .nav-link {
    font-size: 16px !important;
    font-weight: bold !important;
    color: var(--text-white-color);
}

header .navbar .hamburger {
    color: var(--text-white-color);
    font-size: 24px;
    display: none;
}

header .navbar .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    width: 60%;
    min-height: 100vh;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
}

header .navbar .mobile-nav .navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

header .navbar .mobile-nav.actived .navbar-nav {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

header .navbar .mobile-nav.actived {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header .navbar .mobile-nav .d-flex {
    justify-content: right;
    align-items: center;
    padding: 40px 20px;
    font-size: 24px;
}

header .navbar .mobile-nav.actived .hamburger,
.navbar .mobile-nav.actived ul li a {
    color: var(--text-black);
}


@media (max-width: 991px) {
    header .navbar .hamburger {
        display: block;
    }

    header .navbar .desktop-nav {
        display: none;
    }

    header .navbar .mobile-nav {
        display: block;
    }
}


@media (min-width: 992px) {
    header .navbar .mobile-nav {
        display: none;
    }

    header .navbar .desktop-nav {
        display: block;
    }
}






.landing {
    background: url('../images/landing.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 150px 0;
}

.landing .container {
    position: relative;
}

.landing .event {
    color: white;
}

.landing .event small {
    font-weight: bold;
}

.landing .event h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    padding: 10px 0;
}

.landing .event .description {
    font-weight: 400;
    color: #FFF8EB;
    font-size: 17px;
    padding-bottom: 10px;
}

.landing .event .btn-one {
    padding: 13px !important;
    background-color: var(--bay-of-many-900);
    color: var(--text-white-color);
    font-weight: bold;
    font-size: 15px !important;
    text-transform: uppercase;
}

.landing .event .btn-two {
    padding: 13px !important;
    color: var(--text-white-color);
    font-weight: bold;
    font-size: 15px !important;
    text-transform: uppercase;
    text-decoration: underline;
}

.countdown {
    margin-bottom: 16px;
    width: 80%;
}

.countdown .row .col {
    text-align: center;
    margin-bottom: 10px;
}

.countdown .row .col span {
    font-size: 26px;
    font-weight: 700;
}

.countdown .row .col span:nth-last-child(1) {
    font-size: 20px !important;
    font-weight: 400;
}

.landing .powered {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    bottom: -170px;
    right: 0;
    color: #FFF8EB;
}

@media (max-width: 575.98px) {

    .landing {
        text-align: center !important;
    }

    .landing .event h1 {
        font-size: 52px;
    }

    .landing .event .btn-one,
    .btn-two {
        display: none !important;
    }

    .countdown {
        margin-bottom: 16px;
        width: 90%;
        margin: auto !important;
        padding: 10px 0;
    }

    .countdown .row .col span {
        font-size: 24px;
        font-weight: 700;
    }

}




.event-info {
    position: relative;
}

.event-info .container {
    padding: 0;
}

.event-info .info-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    color: var(--text-white-color);
    font-weight: 400;
}

.event-info .info-card:nth-child(1) {
    background-color: var(--bay-of-many-900);
}

.event-info .info-card:nth-child(1)::before {
    content: '';
    width: 50%;
    height: 100%;
    background-color: var(--bay-of-many-900);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.event-info .info-card:nth-child(2) {
    background-color: var(--bay-of-many-600);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.event-info .info-card:nth-child(3) {
    background-color: var(--text-white-color);
    color: #343434;
}

.event-info .info-card:nth-child(3)::before {
    content: '';
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 991px) {
    .event-info .info-card:nth-child(3) {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
    }
    .event-info .container,
    .event-info .container-sm {
        max-width: 100% !important;
    }

    .event-info .info-card:nth-child(1)::before {
        display: none;
    }

    .event-info .info-card:nth-child(3)::before {
        display: none;
    }
}







.content {
    background: url('../images/background/bg.png');
    background-position: center;
    background-position-y: 5%;
    background-size: cover;
}

.content .title-run-schedules {
    text-align: center;
    padding: 50px 0 30px;
}

.content .title-run-schedules h5 {
    color: var(--bay-of-many-800);
    margin-bottom: -2px;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.content .title-run-schedules h3 {
    color: var(--bay-of-many-800);
    margin-bottom: 5px;
    font-size: 40px;
    color: var(--text-black);
    font-weight: bold;
    text-transform: capitalize;
}

.content .title-run-schedules p {
    text-align: center;
    width: 80%;
    margin: auto;
}

@media (max-width: 575.98px) {
    .content .title-run-schedules h3 {
        font-size: 30px;
    }

    .content .title-run-schedules h5 {
        font-size: 18px;
    }

    .content .title-run-schedules {
        padding: 30px 0 20px;
    }
}

@media (max-width: 768px) {
    .content {
        background-size: 500%;
    }

    .content .title-run-schedules p {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: 14px;
    }
}






.content .run-category {
    padding: 30px 0px;
}

.content .run-category .card {
    border: 2px solid var(--bay-of-many-600);
    border-radius: 10px;
    padding: 30px 0px 30px 10px;
}

.content .run-category .card .row {
    margin: 0 !important;
}

.content .run-category .active {
    background-color: var(--bay-of-many-900);
    color: var(--text-white-color) !important;
}

.content .run-category .active h6 {
    color: var(--text-white-color) !important;
}

.content .run-category .card .category h6 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-black);
}

.content .run-category .card .category small {
    font-size: 16px;
}

.content .run-category .card .price {
    position: relative;
    text-align: center !important;
}

.content .run-category .card .price .original-price {
    font-size: 16px;
    position: relative;
    font-weight: bold;
    color: red;
    top: 8px;
}

.content .run-category .card .price .original-price::before {
    content: '';
    width: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    background-color: red;
}

.content .run-category .card .price .discount {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .content .run-category .card .category h6 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        color: var(--text-black);
    }

    .content .run-category .card .category small {
        font-size: 14px;
    }

    .content .run-category .card .price .discount {
        font-size: 20px;
        font-weight: bold;
    }

    .content .run-category {
        padding: 30px 0px 0px;
    }
}

@media (max-width: 768px) {
    /* .content .title-run-schedules p {
        text-align: center;
        width: 100%;
        margin: auto;
        font-size: 14px;
    } */
}










.content .schedules {
    padding: 30px 0px;
}

.content .schedules .schedules-card {
    margin-top: 20px;
    background-color: var(--bay-of-many-900);
    border-radius: 10px;
}

.content .schedules .schedules-card .row {
    margin: 0;
}

.content .schedules .schedules-card .title-schedules {
    display: flex;
    align-items: center;
    padding: 50px 20px;
}

.content .schedules .schedules-card .title-schedules h6 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.content .schedules .schedules-card .sec-schedules {
    background-color: var(--text-white-color);
    color: var(--text-black);
    text-align: center;
    font-size: 14px;
    border: 1px solid var(--bay-of-many-500);
    font-weight: bold;
    border-radius: 0 8px 8px 0;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: right;
}

.content .schedules .schedules-card .sec-schedules .end-time {
    color: red;
}


@media (max-width: 575.98px) {
    .content .schedules {
        padding: 0;
    }

    .content .schedules .schedules-card .title-schedules {
        padding: 40px 10px;
    }

    .content .schedules .schedules-card .title-schedules h6 {
        font-size: 18px;
        text-transform: uppercase;
        padding: 0 12px;
    }

    .content .schedules .schedules-card .sec-schedules {
        padding: 30px 0px;
        font-size: 14px;
        justify-content: center;
        border-radius: 0 0 10px 10px !important;
        clip-path: none;
        border: 1px solid var(--bay-of-many-500);
    }
}

@media (max-width: 768px) {
    .content .schedules .schedules-card .sec-schedules .text {
        width: 80% !important;
    }

}
@media (max-width: 1199px) {
    .content .schedules .schedules-card .sec-schedules .text {
        width: 80% !important;
    }

}









.content .routes {
    background-image: url('../images/run-route/route.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 0px;
    /* height: 560px; */
}


.content .routes h3 {
    color: var(--text-white-color);
    font-size: 36px;
    font-weight: bold;
    text-align: right;
}

.content .routes .route .card {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 10px;
    cursor: pointer;
}

.content .routes .route .active {
    background-color: var(--bay-of-many-900);
    color: var(--text-white-color) !important;
}

.content .routes .route .card:nth-child(3) {
    margin-top: 15px;
}

.content .routes .route .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.content .routes .route .card p {
    font-size: 12px;
    margin: 0;
    width: 80%;
    padding: 0px 10px;
    text-align: right;
}

.content .routes .route .card h5 {
    font-size: 32px;
    margin: 0;
    font-weight: bolder;
}

.content .routes .route button {
    background-color: var(--bay-of-many-800);
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    padding: 12px 0;
    border-radius: 10px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.content .time {
    background-color: var(--bay-of-many-900);
    width: 100%;
    padding: 15px 0;
}

.content .time .countdown {
    color: var(--text-white-color);
    font-weight: bold;
    margin: 0;
}

.content .time .countdown .row .col {
    margin: 0;
    padding: 0;
}

.content .time h4 {
    text-align: left;
    margin-top: auto;
    color: var(--text-white-color);
    font-weight: bold;
    margin: 0;
}

@media (max-width: 575.98px) {
    .content .time .countdown {
        width: 100%;
        margin: auto;
    }

    .content .time h4 {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .content .time .countdown {
        width: 70%;
        margin: auto;
    }

    .content .time h4 {
        text-align: center;
        padding: 20px 0;
    }
}



    .content .sponsered {
        padding: 70px 0 90px;
    }

.content .sponsered .title-sponsored {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #434343;
    padding: 40px 0;

}

.content .sponsered .main-sponsor {
    margin-top: 70px;
    margin-bottom: 80px;
}

.content .sponsered .main-sponsor .title-sponsored {
    margin-bottom: 130px;
}

.content .sponsered .main-sponsor img {
    width: 98px;
    height: 98px;
}

.content .sponsered .main-sponsor .img {
    position: relative;
}

.content .sponsered .main-sponsor .img::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--bay-of-many-600);
    width: 160px;
    height: 160px;
    border-radius: 0 0 10px 10px;
}

.content .sponsered .main-sponsor .img::after {
    content: 'Title Sponsor';
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bay-of-many-600);
    width: 160px;
    padding: 10px 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px 10px 0 0;
}

.content .sponsered .other-sponsor img {
    padding: 70px 5px;
}

@media (max-width: 575.98px) {
    /* .content .sponsered .main-sponsor .title-sponsored {
        margin-bottom: 70px;
    } */
}

@media (max-width: 991px) {

    .content .sponsered .main-events .col-lg-4:nth-child(3) {
        margin-top: 50px;
    }
    .content .sponsered .main-sponsor .title-sponsored{
        margin-bottom: 100px;
    }

}




.content .offering {
    padding: 100px 0px;
    background: url(../images/background/top-footer.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.content .offering img {
    width: 89px;
    height: 92px;
}

.content .offering h6 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-white-color);
}

.content .offering h2 {
    padding: 5px 0;
    font-size: 40px;
    font-weight: bold;
}

.content .offering p {
    font-size: 16px;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.content .offering .btn {
    background-color: var(--bay-of-many-900);
    padding: 10px 30px;
    font-weight: bold;
    color: white;
}


.content .sec-offering {
    background-color: var(--bay-of-many-900);
    padding: 20px 0px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}

.content .sec-offering .btn {
    background-color: var(--bay-of-many-600);
    padding: 10px 30px;
    font-weight: bold;
    color: white;
}
@media (max-width: 575.98px) {
    .content .offering h2{
        font-size: 28px;
    }
    .content .offering .btn {
        background-color: var(--bay-of-many-900);
        padding: 10px 60px;
        font-weight: bold;
        color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}











footer h3 {
    font-weight: bold;
    color: var(--text-black);
    padding: 30px 0 10px 0;
}

footer .sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .sosmed .sosmed-icon {
    margin-top: 30px;
}

footer .sosmed .sosmed-icon img {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 3px 0 3px;
}

footer .sosmed .sosmed-icon img::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bay-of-many-900);
    z-index: -1;
    /* Pastikan background berada di belakang gambar */
    border-radius: 50%;
    /* Jika ingin background berbentuk lingkaran */
}





footer .footer-info {
    margin-top: 30px;
}

footer .footer-info .first-contact {
    display: block;
}

footer .footer-info .second-contact {
    display: none;
}

footer .footer-info .title {
    font-weight: bold;
    color: var(--text-black);
    text-transform: uppercase;
    font-size: 20px;
}

footer .footer-info .second h6 {
    margin-top: 10px;
    color: #808080;
}

footer .footer-info .phone-number h2 {
    color: var(--bay-of-many-900);
    font-weight: bolder;
    padding: 8px 0;
}

footer .footer-info .email span {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: var(--text-black);
}

footer .footer-info .second ul {
    list-style: none;
    padding: 0;
}

footer .footer-info .second ul li {
    padding: 2px 0;
}

footer .footer-info .second ul li a {
    text-decoration: none;
    color: #808080;
}

footer .copyright {
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-white-color);
    margin-top: 109px;
}

footer .copyright .row-copyright {
    display: flex;
    justify-content: space-between;
}

footer .copyright .row-copyright h6 {
    margin: 0;
}

footer .copyright .text-copy {
    margin: 0;
}

@media (max-width: 521px) {

    footer h3 {
        width: 70%;
    }

    footer .sosmed {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .sosmed .sosmed-icon img {
        width: 35px;
        height: 35px;
        position: relative;
    }

    footer .sosmed .sosmed-icon img::after {
        content: '';
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--bay-of-many-900);
        z-index: -1;
        /* Pastikan background berada di belakang gambar */
        border-radius: 50%;
        /* Jika ingin background berbentuk lingkaran */
    }
}

@media (max-width: 575.98px) {
    .content .time .countdown {
        width: 100%;
        margin: auto;
    }

    .content .time h4 {
        font-size: 16px;
    }

    footer .copyright .row-copyright h6 {
        font-size: 12px;
    }

    footer .copyright .row-copyright h6:nth-child(2) {
        margin-top: 5px;
    }

}

@media (max-width: 768px) {
    footer .sosmed .sosmed-icon {
        display: flex;
        direction: column;
        justify-content: right;
    }
}

@media (max-width: 991px) {
    footer .footer-info {
        text-align: center;
    }

    footer .footer-info .col-lg-7 {
        padding: 15px 0;
    }

    footer .footer-info .col-12 {
        padding: 30px 0 45px;
    }

    footer .footer-info .first-contact {
        display: none !important;
    }

    footer .footer-info .second-contact {
        display: block !important;
    }

    footer .copyright {
        padding: 20px;
        font-size: 16px;
        font-weight: 500;
        color: var(--text-white-color);
        margin-top: 10px;
    }

    footer .copyright .row-copyright {
        display: block;
        text-align: center;
    }
}