/* @font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Regular.ttf'), ;
    font-weight: normal;
    font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #F37F0D;
    --secondary-color: #375AD9;
    --text-color: #666666;
    --background-color: #ffffff;
}

.bottom-radius-none {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.text-black {
    color: #000 !important;
}

.form-control{
    height: 45px !important;
    box-shadow: 0 0 3.5px 0 rgba(0, 0, 0, 0.3) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif !important;
    background-color: #F2F6FF;
}

/* Navbar */
.navbar {
    box-shadow: 0 1px 3.2px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff !important;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
}

.navbar-brand span {
    color: var(--primary-color);
}

.navbar-brand .runner {
    color: var(--secondary-color);
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar .btn-signin {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
}

.navbar .btn-signin:hover {
    background-color: #f8f9fa;
}

.btn-signin {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.btn-signin:hover {
    background-color: #f8f9fa;
}

.btn-signin .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.btn-signin .icon::before {
    content: '\2192';
    font-size: 16px;
}

/* End Navbar */

.information-title {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
}

.information-description {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    color: var(--text-color);
}



/* Page Registration */
.registration-section {
    padding: 2em 0;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 2em auto;
    padding: 10px 0 60px;
}

.progress-container::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 50%;
    width: 80%; 
    height: 2px;
    background: #ccc;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.step-progress {
    position: absolute;
    top: 30%;
    width: 80%;
    max-width: 700px;
    left: 30px;
    transform: translateY(-50%);
    height: 2px;
    background: #4C77E5;
    z-index: 2;
    transition: width 0.3s ease;
}

.step-number{
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
}

.step-number .rounded {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px !important;
    z-index: 3;
    position: relative;
    cursor: pointer;
    color: #4C77E5;
    font-weight: bold;
    border: 2px solid #3498db;
    font-size: 20px;
}
.step-number .step-text{
    width: 150px;
    position: absolute;
    top: 75px;
    z-index: 1;
    text-align: center;
    color: #375AD9 ;
    font-weight: 400;
    margin: auto;
    font-size: 15px;
    font-weight: 600;
    
}
@media (max-width: 450px) {
    .step-number .rounded {
        height: 45px !important;
        width: 45px !important;
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .step-number .rounded {
        height: 55px;
        width: 55px;
        font-size: 14px;
    }

    .step-progress,
    .progress-container::before {
        top: 50%;
    }
    .col-progress{
        padding: 0!important;
    }
}

@media (max-width: 920px) {
    .step-number .step-text {
        display: none;
    }
    .step-progress,
    .progress-container::before {
        top: 50%;
    }
    .progress-container {
        padding: 10px 0 !important;
    }
}

.step-number.active .rounded {
    background-color: #F99D1B;
    border-color: #F99D1B;
    color: white;
}
.step-number.active .step-text {
    color: #F99D1B;
}
.step-number.completed .step-text {
    color: #4C77E5 ;
}

.step-number.completed .rounded{
    background-color: #4C77E5;
    border-color: #4C77E5;
    color: white;
}


.registration .step {
    display: none;
}

.registration .step.active {
    display: block;
}

.registration .frame-step {
    background-color: #fff;
    border-radius: 31px;
    box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
}

.registration .frame-step:nth-child(2) {
    margin-top: 2rem;
}

.registration .title {
    font-weight: bold;
    font-size: 24px;
    color: #375AD9 !important;
}

.registration .description {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    color: var(--text-color);
}

.registration .category-title {
    font-weight: 600;
    font-size: 22px;
    margin: 20px 0;
    color: #525252;
}

.registration .category-title-2 {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #F37F0D;
}

.registration .option-label {
    margin-left: 0.5rem;
}

.registration .registration-form,
.run-category,
.personal-data,
.contact-and-medic,
.run-information {
    padding: 2.3rem 2.3rem 1rem 2.3rem;
}


.registration .registration-form,
.personal-data,
.contact-and-medic,
.run-information label {
    font-weight: 600;
    font-size: 16px;
}

.registration .registration-form,
.personal-data,
.contact-and-medic,
.run-information {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.registration .line {
    width: 100%;
}

.registration .upload-container {
    border: 4px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    border-radius: 20px;
}
.registration .upload-container img {
    max-height: 100%;
}
.registration .upload-placeholder {
    color: var(--text-color);
    font-weight: 400;
}

.registration .registration-frame-button {
    display: flex;
    justify-content: space-between;
    padding: 15px 2.3rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
}

.registration .run-information .insurance-form p{
    color: var(--text-color);
    font-size: 16px;
}
.registration .run-information .community p{
    color: var(--text-color);
    font-weight: 400;
}

/* .registration .run-information .location-take {
    padding: 15px;
    background-color: #F0F5FE;
    font-size: 16px;
    border-radius: 9px;
}

.registration .run-information .location-take label {
    color: #2E47C7;
}

.registration .run-information .location-take p {
    color: #1D234E;
    margin-bottom: 10px;
    padding: 0;
}

.registration .run-information .location-take a {
    font-size: 15px;
} */

@media (max-width: 575.98px) {
    .container {
        padding: 0 !important;
    }

    .registration-section {
        max-height: 100% !important;
    }

    .registration {
        border-radius: 0px;
        margin-top: 2em;
    }

    .registration .frame-step {
        background-color: #fff;
        border-radius: 0px !important;
        box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
    }

    .registration-frame-button {
        border-radius: 0px !important;
        padding: 15px 1rem;
    }

    .registration .title {
        font-size: 18px;
    }

    .registration .description {
        margin-top: 20px;
        display: block;
    }

    .registration .registration-form,
    .run-category,
    .personal-data,
    .contact-and-medic,
    .run-information,
    .registration-frame-button {
        padding: 15px 1rem;
    }

    .registration .registration-form,
    .personal-data,
    .contact-and-medic,
    .run-information label {
        font-size: 15px !important;
    }

    .registration .category-title {
        margin: 20px 0;
        font-size: 16px;
    }

    .registration .category-title-2 {
        margin: 20px 0;
        font-size: 15px;
    }
    .registration .registration-frame-button {
        padding: 15px 1em;
    }
}


.frame-title-page {
    padding: 10px;
}

/* Page Confirmed Data */
.confirmed-data {
    padding: 1em 0;
    background-color: #F2F6FF;
}
.confirmed-data .form-control {
    height: 45px !important;
    box-shadow: none !important;
    border-radius: 9px;
    background-color: #F4F7FF !important;
}

.confirmed-data .frame-step {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
    padding: 2.3rem;
    margin-top: 2rem;
}

.confirmed-data .frame-step:nth-child(1) {
    margin-top: 0px !important;
}

.confirmed-data .frame-step:nth-child(3) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.confirmed-data .frame-step .title {
    font-weight: bold;
    font-size: 24px;
    color: #375AD9 !important;
    margin: 0 0 20px 0;
}

.confirmed-data .frame-step label {
    font-weight: bold;
}

.confirmed-data .line {
    height: 2px;
    width: 100%;
}

.confirmed-data .registration-frame-button {
    display: flex;
    justify-content: space-between;
    padding: 15px 2.3rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
}

@media (max-width: 650px) {
    .confirmed-data .frame-step {
        padding: 20px 1rem;
        border-radius: 0px !important;
    }

    .confirmed-data .frame-step .title {
        font-size: 18px;
    }

    .confirmed-data .frame-step label {
        font-size: 15px;
    }
}



.terms-conditions-bib-payment-success {
    padding: 1rem 0;
    background-color: #F2F6FF;
}

.terms-conditions-bib-payment-success .frame-step {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
    padding: 2rem;
    margin-top: 2rem;
}

.terms-conditions-bib-payment-success .frame-step:nth-child(1) {
    margin-top: 0px !important;
    padding: 20px 1.5rem;
}

.terms-conditions-bib-payment-success .frame-step:nth-child(4) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.terms-conditions-bib-payment-success .frame-step .title {
    font-weight: bold;
    font-size: 24px;
    color: #375AD9 !important;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.terms-conditions-bib-payment-success .frame-step .title label {
    font-weight: bold;
    color: var(--secondary-color);
}

.terms-conditions-bib-payment-success .frame-step label {
    font-weight: bold;
}

.terms-conditions-bib-payment-success .frame-step .term-check label {
    color: var(--text-color);
    font-weight: normal !important;
}

.terms-conditions-bib-payment-success .frame-step .term-check strong {
    color: var(--text-color);
    font-weight: bold;
}

.terms-conditions-bib-payment-success .frame-step .category-runs {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 20px;
}

.terms-conditions-bib-payment-success .frame-step .register-as {
    background-color: #F4F7FF;
    margin: 15px 0;
    padding: 20px;
    border-radius: 8px;
}

.terms-conditions-bib-payment-success .frame-step .register-as b {
    font-size: 16px;
    padding: 0px 0px 1rem 0px;
}

.terms-conditions-bib-payment-success .frame-step .register-as p {
    font-size: 16px;
    color: #626262;
}

.terms-conditions-bib-payment-success .frame-step .term-title {
    font-weight: bold;
    padding-left: 5px;
    color: var(--text-color);
}

.terms-conditions-bib-payment-success .frame-step .term-content {
    list-style-type: disc;
    list-style: circle;
    color: var(--text-color);
}

.terms-conditions-bib-payment-success .frame-step .term-content ul {
    padding: 10px 40px 0px;
}

.terms-conditions-bib-payment-success .line {
    height: 2px;
    width: 100%;
}

.terms-conditions-bib-payment-success .registration-frame-button {
    display: flex;
    justify-content: space-between;
    padding: 15px 2.3rem;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 4px 0 hwb(0 0% 100% / 0.25);
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 31px;
}

.terms-conditions-bib-payment-success .frame-step .term-check {
    color: var(--text-color);
}

@media (max-width: 650px) {
    .terms-conditions-bib-payment-success .frame-step {
        padding: 25px 10px !important;
        border-radius: 0px !important;
    }

    .terms-conditions-bib-payment-success .frame-step .title {
        font-size: 18px !important;
    }

    .terms-conditions-bib-payment-success .frame-step .category-runs {
        font-size: 16px !important;
    }

}

/* BIB NUMBER */
.terms-conditions-bib-payment-success .frame-step.bib-number {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.terms-conditions-bib-payment-success .frame-step.bib-number label {
    margin: 0 !important;
}

.terms-conditions-bib-payment-success .frame-step.bib-number small {
    padding: 0.7rem 0;
}

/* PAYMENT SUMMARY */
.terms-conditions-bib-payment-success .frame-step.payment-summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.text-color {
    color: var(--text-color) !important;
}

.terms-conditions-bib-payment-success .frame-step.payment-summary .total {
    color: green;
    font-weight: bold;
}


/* PAYMENT SUCCESS */

.terms-conditions-bib-payment-success .success-icon-container {
    background-color: hsla(134, 100%, 50%, 0.293);
    padding: 40px;
    border-radius: 50%;
    margin: auto;
    display: inline-block;
}

.terms-conditions-bib-payment-success .success-icon-container img {
    width: 90px;
}

.terms-conditions-bib-payment-success .payment-success-text h4 {
    margin: 10px 0 0 0;
}

.terms-conditions-bib-payment-success .payment-success-text p {
    margin-bottom: 30px;
    padding: 0px 30px;
}

.terms-conditions-bib-payment-success .frame-button-payment-success {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 9px;
    margin-top: 30px;
}

.terms-conditions-bib-payment-success .frame-button-payment-success .btn-outline-warning {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    border-radius: 9px;
}

.terms-conditions-bib-payment-success .frame-button-payment-success .btn-outline-warning:hover {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    color: white !important;
    border-radius: 9px;
}

.terms-conditions-bib-payment-success .frame-button-payment-success .btn-primary {
    width: 211.47px;
    background-color: var(--secondary-color);
    border-radius: 9px;
    margin-top: 10px;
}

.terms-conditions-bib-payment-success .frame-button-payment-success .btn-primary:hover {
    background-color: #0c3dee;
}

@media (max-width: 650px) {

    .terms-conditions-bib-payment-success .success-icon-container {
        background-color: hsla(134, 100%, 50%, 0.293);
        padding: 10px;
        border-radius: 50%;
        margin: auto;
        display: inline-block;
    }

    .terms-conditions-bib-payment-success .success-icon-container img {
        width: 40px;
    }

    .terms-conditions-bib-payment-success .payment-success-text p {
        margin-bottom: 35px;
    }

}


/* footer */
footer {
    background-color: #ffffff;
    padding: 60px 16px 20px;
}

footer span {
    color: var(--primary-color);
}

footer .runner {
    color: var(--secondary-color);
}

footer h5,
.logo {
    font-weight: 700;
    margin-bottom: 15px !important;
}

footer ul li a,
a {
    color: #000000;
    list-style: none;
    font-size: 16px;
}

footer a:hover {
    text-decoration: none;
    color: #f9b233;
}

footer .social-media-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    color: #f9b233;
    /* Adjust text color to match the icon color */
}

footer .social-media-link:hover {
    text-decoration: none;
}

footer .social-media-icon {
    position: relative;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

footer .social-media-icon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9b233;
    border-radius: 8px;
    opacity: .3;
    z-index: 2;
}

footer .social-media-icon i,
.event-manage {
    color: #f9b233;
    font-size: 20px;
    font-weight: 300;
}

footer .social-media-link span,
.sponsor p,
.copyright {
    color: #525252;
}

@media (max-width: 800px) {

    footer {
        padding: 60px 16px;
    }

    .mt-mobile-15 {
        margin-top: 25px !important;
    }

}